#student-table {
    max-height: 400px;
    overflow: scroll;
}

th, tr {
    width: 33%;
}

.present {
    color: gray;
    font-style: italic;
}

.absent {
    color: black;
    font-weight: bold;
    background-color: rgb(207, 167, 167);
}
[v-cloak]{
    display: none;
}

